<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      Start a new delivery plan
    </h1>

    <%= render 'form', subscription: @subscription %>

    <hr>

    <%= link_to 'Back', :back, class: "btn btn-outline-secondary btn-block" %>
  </div>
</div>
